<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h3>用户查询界面beetl渲染</h3>
	<table>
		<tr>
			<td><a th:href="@{'/user/add'}">添加用户</a></td>	
			<span th:text="${msg}"></span>		
		</tr>
		<tr>
			<th>id</th>
			<th>姓名</th>
			<th>年龄</th>
		</tr>		
		<tr th:each="user: ${list}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.username}"></td>
			<td th:text="${user.age}"></td>
			<td><a th:href="@{'/user/info/'+${user.id}}">查看</a></td>
			<td><a th:href="@{'/user/edit/'+${user.id}}">编辑</a></td>			
			<td><a th:href="@{'/user/delete/'+${user.id}}">删除</a></td>
		</tr>		
	</table>
</body>
</html>