<% DIRECTIVE SAFE_OUTPUT_OPEN; %>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h3>用户查询界面beetl渲染</h3>
	<table>
		<tr>
			<th>id</th>
			<th>姓名</th>
			<th>年龄</th>
		</tr>
		<%		   
		  for(user in list){
		%>
		<tr>
			<td>${user.id}</td>
			<td>${user.username}</td>
			<td>${user.age}</td>
			<td><a href="/user/info/${user.id}">查看</a></td>
		</tr>
		<%
		 }
		%>
	</table>
</body>
</html>
<% DIRECTIVE SAFE_OUTPUT_CLOSE; %>